@import '../../../../../node_modules/bootstrap/scss/bootstrap.scss';

.NavBar{
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    // background-color: $primary;
    padding: 10px;

    .btn,
    select{
        font-size: 12px;
    }

}