.Zone_table__item{
    .Zone_table__item--color{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
            
        .Zone_table__item--marker{
            width: 20px;
            height: 20px;
        }
    }
    .Zone_table__item--options{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        .Zone_table__item--edit{
            width: 20px;
            height: 20px;
            background: url('../../../../../../../lib/img/edit.svg') center center/ 80% 80% no-repeat;
        }
        .Zone_table__item--delete{
            width: 20px;
            height: 20px;
            background: url('../../../../../../../lib/img/remove3.svg') center center/ 80% 80% no-repeat;
        }
    }
}